@import './icon-font.css';

/* semantic color variables for this project */
:root {
   /* my */
   --pdng-conteiner: 120px;

   
  --color-text: #606276;
  --color-white: #FFFFFF;
  --color-accent: #7481FF;

   /* Колір кнопки */
  --color-buttom-default: #7481FF;
  --color-buttom-hover: #6270FF;
  --color-buttom-disabled: rgba(116, 129, 255, 0.5);



/* ----------------------------------------------- */

  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  /* Колір кнопки */
  --color-buttom-default: #7481FF;
  --color-buttom-hover: #6270FF;
  --color-buttom-disabled: rgba(116, 129, 255, 0.5);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: #606276;

  --section-gap: 160px;
}
@media(max-width: 1024px) {
   :root {
      --pdng-conteiner: 24px;
   }
}

@font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Regular'), local('Gilroy-Regular'),
       url('fonts/Gilroy-Regular.woff2') format('woff2'),
       url('fonts/Gilroy-Regular.woff') format('woff'),
       url('fonts/Gilroy-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Bold'), local('Gilroy-Bold'),
       url('fonts/Gilroy-Bold.woff2') format('woff2'),
       url('fonts/Gilroy-Bold.woff') format('woff'),
       url('fonts/Gilroy-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
       url('fonts/Gilroy-Extrabold.woff2') format('woff2'),
       url('fonts/Gilroy-Extrabold.woff') format('woff'),
       url('fonts/Gilroy-Extrabold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Medium'), local('Gilroy-Medium'),
       url('fonts/Gilroy-Medium.woff2') format('woff2'),
       url('fonts/Gilroy-Medium.woff') format('woff'),
       url('fonts/Gilroy-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
       url('fonts/Gilroy-Semibold.woff2') format('woff2'),
       url('fonts/Gilroy-Semibold.woff') format('woff'),
       url('fonts/Gilroy-Semibold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
 }


body {
  color: var(--color-text);
  font-family: Gilroy, sans-serif;
  font-size: 16px;
}

._container {
   max-width: 1200px;
   height: 100%;
   padding: 0 var(--pdng-conteiner);
   margin: 0 auto;
   box-sizing: content-box;
}

h4, .h4 {   
   font-weight: 700;
   font-size: 25px;
   line-height: 140%;
   letter-spacing: 0.02em;
}

@media(max-width: 425px) {
   h4, .h4 {  
      font-size: 20px;
   }
}

h3, .h3 {   
   font-style: normal;
   font-weight: 700;
   font-size: 30px;
   line-height: 140%;
}

@media(max-width: 425px) {
   h3, .h3 {  
      font-size: 24px;
   }
}

.title-semibold {   
   font-weight: 600;
   font-size: 20px;
   line-height: 25px;
}

@media(max-width: 425px) {
   .title-semibold {  
      font-size: 18px;
   }
}
.medium_16{
   font-weight: 500;
   font-size: 16px;
   line-height: 159%;
 }