@import './icon-font.css';

/* semantic color variables for this project */
:root {
   /* my */
   --pdng-conteiner: 120px;

   --margin-top-section: 220px;
   
  --color-text: #606276;
  --color-white: #FFFFFF;
  --color-accent: #7481FF;  
  --color-content: #41456B;
  --color-error: #F54E4E;

   /* Колір кнопки */
  --color-buttom-default: #7481FF;
  --color-buttom-hover: #6270FF;
  --color-buttom-disabled: rgba(116, 129, 255, 0.5);



}
@media(max-width: 1024px) {
   :root {
      --pdng-conteiner: 24px;
   }
}
@media(max-width: 768px) {
   :root {
      --margin-top-section: 160px;
   }
}
@media(max-width: 425px) {
   :root {
      --pdng-conteiner: 20px;
      --margin-top-section: 80px;
   }
}

@font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Regular'), local('Gilroy-Regular'),
       url('fonts/Gilroy-Regular.woff2') format('woff2'),
       url('fonts/Gilroy-Regular.woff') format('woff'),
       url('fonts/Gilroy-Regular.ttf') format('truetype');
   font-weight: 400;
   font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Bold'), local('Gilroy-Bold'),
       url('fonts/Gilroy-Bold.woff2') format('woff2'),
       url('fonts/Gilroy-Bold.woff') format('woff'),
       url('fonts/Gilroy-Bold.ttf') format('truetype');
   font-weight: 700;
   font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
       url('fonts/Gilroy-Extrabold.woff2') format('woff2'),
       url('fonts/Gilroy-Extrabold.woff') format('woff'),
       url('fonts/Gilroy-Extrabold.ttf') format('truetype');
   font-weight: 800;
   font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Medium'), local('Gilroy-Medium'),
       url('fonts/Gilroy-Medium.woff2') format('woff2'),
       url('fonts/Gilroy-Medium.woff') format('woff'),
       url('fonts/Gilroy-Medium.ttf') format('truetype');
   font-weight: 500;
   font-style: normal;
 }
 @font-face {
   font-family: 'Gilroy';
   src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
       url('fonts/Gilroy-Semibold.woff2') format('woff2'),
       url('fonts/Gilroy-Semibold.woff') format('woff'),
       url('fonts/Gilroy-Semibold.ttf') format('truetype');
   font-weight: 600;
   font-style: normal;
 }


body {
  color: var(--color-text);
  font-family: Gilroy, sans-serif;
  font-size: 16px;
}

