@mixin medium_16 {
   font-weight: 500;
   font-size: 16px;
   line-height: 159%;
}

@mixin semibold_16 {
   font-weight: 600;
   font-size: 16px;
   line-height: 14px;
}

@mixin semibold_20 {
   font-weight: 600;
   font-size: 20px;
   line-height: 25px;

   @media (max-width: 425px) {
      font-size: 18px;
   }
}

@mixin regular_14 {
   font-weight: 400;
   font-size: 14px;
   line-height: 159%;
}

@mixin regular_16 {
   font-weight: 400;
   font-size: 16px;
   line-height: 180%;
   letter-spacing: 0.02em;
}

@mixin bold_16 {
   font-weight: 700;
   font-size: 16px;
   line-height: 14px;
   letter-spacing: 0.02em;
   text-transform: uppercase;
}