@mixin medium_16 {
   font-weight: 500;
   font-size: 16px;
   line-height: 159%;
}

@mixin semibold_16 {
   font-weight: 600;
   font-size: 16px;
   line-height: 14px;
}

@mixin regular_14 {
   font-weight: 400;
   font-size: 14px;
   line-height: 159%;
}

@mixin regular_16 {
   font-weight: 400;
   font-size: 16px;
   line-height: 180%;
   letter-spacing: 0.02em;
}